@using MvcKutuphane.Models.Entity
@model List<TBLKATEGORI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Kategoriler</h2>
<br />

<table class="table table-bordered">
    <thead>
        <tr style="background-color:rgb(252,178,22)">
            <th>ID</th>
            <th>AD</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.AD</td>
                <td>@Html.ActionLink("Sil","KategoriSil", new {id=x.ID }, new {@class="btn btn-danger", onclick="return confirm('Gerçekten silmek istiyor musunuz?')" })</td>
                <td><a href="/Kategori/KategoriGetir/@x.ID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>

</table>

<a href="/Kategori/KategoriEkle/" class="btn btn-primary">Yeni Kategori Kaydı</a>