@using MvcKutuphane.Models.Entity
@model List<TBLDUYURULAR>
@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Duyurular</h2>
<br />

<table class="table table-bordered">
    <thead>
        <tr style="background-color:rgb(252,178,22)">
            <th>Kategori</th>
            <th>Tarih</th>
            <th>İçerik</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.KATEGORI</td>
                <td>@Convert.ToDateTime(x.TARIH).ToString("dd/MM/yyyy")</td>
                <td>@x.ICERIK</td>
            </tr>
        }
    </tbody>

</table>


