@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Personeller</h2>
<br />

<table class="table table-bordered">
    <thead>
        <tr style="background-color:rgb(252,178,22)">
            <th>Personel ID</th>
            <th>Personel Ad-Soyad</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var per in Model)
        {
            <tr>
                <td>@per.ID</td>
                <td>@per.PERSONEL</td>
                <td>@Html.ActionLink("Sil", "PersonelSil", new { id = per.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Gerçekten silmek istiyor musunuz?')" })</td>
                <td><a href="/Personel/PersonelGetir/@per.ID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>

</table>

<a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel Kaydı</a>

