@model MvcKutuphane.Models.Entity.TBLPERSONEL

@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Personel Adı-Soyadı</label>
        @Html.TextBoxFor(m => m.PERSONEL, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PERSONEL, "", new { @style = "color:red" })
    </div>
    <div>
        <button class="btn btn-primary">Yeni Personel Ekle</button>
    </div>
</form>

