@model MvcKutuphane.Models.Entity.TBLPERSONEL
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ID)

    <div class="form-group">
        <label>Personel Adı - Soyadı</label>
        @Html.TextBoxFor(m => m.PERSONEL, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-primary">Personel Güncelle</button>
    </div>
}

